<head>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
    <details>
        <summary>Password</summary>
        <p><%= password %> </p>
    </details>
    <details>
        <summary>Salt (128bit)</summary>
        <p><%= salt %> </p>
    </details>
    <details>
        <summary>RSA private key</summary>
        <p><%= privateKey%></p>
    </details>
    <details>
        <summary>RSA public key</summary>
        <p><%= publicKey%></p>
    </details>

    <p>Pass the password through scrypt encryption with the above salt to get IK1</p>

    <details>
        <summary>IK1</summary>
        <p><%= scrypt1hash %> </p>
    </details>
    <p>Pad IK1 to match the RSA key length</p>
    <details>
        <summary>Padded IK1</summary>
        <p><%= ik1pad %></p>
    </details>

    <p>Sign padded IK1 with RSA public key </p>


    <!-- Can't sign ik1pad with RSA because says string size too long? Maybe try convert string to hex or sth -->



    <p>Test RSA encryption</p>
    <p><%= rsaencrypted %></p>
    <p><%= rsadecrypted %></p>

    

    
    


</body>