<head>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
    <details>
        <summary>Password</summary>
        <p><%= password %> </p>
    </details>
    <details>
        <summary>Salt (128bit)</summary>
        <p><%= salt %> </p>
    </details>
    <details>
        <summary>RSA private key</summary>
        <p><%= rsaprivate %> </p>
    </details>
    <details>
        <summary>RSA public key</summary>
        <p><%= rsapublic %> </p>
    </details>

    <p>Pass the password through scrypt encryption with the above salt to get IK1</p>

    <details>
        <summary>IK1</summary>
        <p><%= scrypt1hash %> </p>
    </details>
    <p>Pad IK1 to match the RSA key length</p>
    <details>
        <summary>Padded IK1</summary>
        <p><%= frontikpad %><%= scrypt1hash %><%= backikpad %></p>
    </details>


</body>